@model FinancasApp.Presentation.Models.AccountForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="text-center">
    <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.svg" />
    <h3>Esqueci minha senha</h3>
    <p>Entre com os dados para recuperar sua senha:</p>
</div>

<hr />

@using(Html.BeginForm())
{
    <div class="mb-2">
        @Html.TextBoxFor(model => model.Email, new {
            @class = "form-control",
            @placeholder = "Digite seu email aqui."
        })
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary" value="Recuperar Senha" />
    </div>

    <div class="mb-2 row">
        <div class="col d-grid">
            <a href="/Account/Login" class="btn btn-light">
                Voltar para a página inicial
            </a>
        </div>
    </div>

}